footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer-items {
  margin-left: 20px;
  margin-right: 150px;
  width: 20%;
}

footer p {
  margin-left: 30px;
}

footer a {
  cursor: pointer;
}
