header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 10px;
}

header a {
  color: black;
  padding: 5px;
  text-decoration: none;
}

.header a:focus {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}

.inscription {
  color: #0065fc;
  font-weight: 700;
}

.header img {
  margin-left: 30px;
}
